<p>
  profile works!
</p>
<div class="row">
  <!-- <div class="col-md-6">
    {{data.username}}
  </div> -->
  <div class="form-group col-md-4  col-lg-4 form-horizontal ">
      <label class="control-label col-md-5">UserName
        <span class="text-danger">
          <sup>*</sup>
        </span>
      </label>
      <div class="col-md-7 ">
        {{data.username}}
      </div>
    </div>
    <div class="form-group col-md-4  col-lg-4 form-horizontal ">
        <label class="control-label col-md-5">First Name
          <span class="text-danger">
            <sup>*</sup>
          </span>
        </label>
        <div class="col-md-7 ">
          {{data.first_name}}
        </div>
      </div>
      <div class="form-group col-md-4  col-lg-4 form-horizontal ">
          <label class="control-label col-md-5">Last Name
            <span class="text-danger">
              <sup>*</sup>
            </span>
          </label>
          <div class="col-md-7 ">
            {{data.last_name}}
          </div>
        </div>
        <div class="form-group col-md-4  col-lg-4 form-horizontal ">
            <label class="control-label col-md-5">Mobile Number
              <span class="text-danger">
                <sup>*</sup>
              </span>
            </label>
            <div class="col-md-7 ">
              {{data.mobile_number}}
            </div>
          </div>
          <div class="form-group col-md-4  col-lg-4 form-horizontal ">
              <label class="control-label col-md-5">Age
                <span class="text-danger">
                  <sup>*</sup>
                </span>
              </label>
              <div class="col-md-7 ">
                {{data.age}}
              </div>
            </div>
            <div class="form-group col-md-4  col-lg-4 form-horizontal ">
                <label class="control-label col-md-5">Email
                  <span class="text-danger">
                    <sup>*</sup>
                  </span>
                </label>
                <div class="col-md-7 ">
                  {{data.email}}
                </div>
              </div>
</div>
